body {
    background-image: url("assets/netflix-featured.webp");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-color: black;
   }

.navbar {
    background-color: transparent;
}

.nav-link {
    font-size: 14px;
    font-family: 'Netflix Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #e5e5e5
}

a:hover {
    color: #b3b3b3;
}

.btn-secondary {
    background-color: transparent;
    border-color: transparent;
    color: white;
}

#pfp {
    height: 50%;
    width: 50%;
    filter: invert(100%);
}

#notif-icon {
    filter: invert(100%);
}

#featured {
    margin-top: 5vh;
    margin-left: 0;
    padding: 5vw;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

/* #featured-logo {
    height: 1vh;
    width: 1vw;
} */

#featured-info {
    color: #fff;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    font-size: 1.2vw;
    margin-top: 0.1vw;
}

#featured-logo {
    max-width: 100%;
    height: auto;
    width: auto;
}

#featured-play {
    width: 122px;
    height: 40px;
}